# Ignore build and output directories
sensa-v1.0/build/
sensa-v1.0/unity-app/
/out/
/dist/

# Ignore temporary or IDE-specific directories
sensa-v1.0/.vscode/
sensa-v1.0/.devcontainer/
/.idea/
/*.swp

# Ignore dependency directories
/node_modules/
/venv/
/deps/

