[submodule "sensa-v1.0/components/Sensor_BME280"]
	path = sensa-v1.0/components/Sensor_BME280
	url = https://github.com/boschsensortec/BME280_SensorAPI
[submodule "sensa-v1.0/components/Sensor_SGP41"]
	path = sensa-v1.0/components/Sensor_SGP41
	url = https://github.com/Sensirion/embedded-i2c-sgp41
